#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=-v

%:
	dh $@ 

override_dh_auto_clean:
	rm -rf src/build/*

override_dh_auto_configure:
	cd src/build; cmake ..

override_dh_auto_build:
	cd src/build; make -j
	# cd doc; make html; make latex
	# cd doc/build/latex; pdflatex Magneto.tex; pdflatex Magneto.tex; pdflatex Magneto.tex

override_dh_auto_test:
	 cd src; #./run-all-tests.py #TODO integrate tests again

override_dh_auto_install:
	cd src/build; make install DESTDIR=../../debian/micromagnum 
	#dh_installdocs

override_dh_installdocs:

override_dh_compress:
